h1::after
{
    content: "";
    height: 6px;
    width: 10.4em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    top: 73%;
    right: 11em;
}

/* h1::before
{
    content: "";
} */
.bg
{
    padding-top: 7rem;
    height: 100% !important;
    width: 100% !important;
    background-color: aquamarine;
}
.h-7
{
    height: 70vh !important;
}

 .imo
    {
        
        width: 200px;
        height: 200px;
    };
